@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  font-family: 'Montserrat', sans-serif;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* constantes de colores */
  --bug: #A7B723 ;
  --dark: #75574C;
  --dragon: #7037FF;
  --electric: #F9CF30;
  --fairy: #E69EAC; 
  --fighting: #C12239;
  --fire: #F57D31;
  --flying: #A891EC;
  --ghost: #70559b;
  --normal: #AAA67F;
  --grass: #74CB48;
  --ground: #DEC16B;
  --ice: #9AD6DF;
  --poison: #A43E9E;
  --psychic: #FB5584;
  --rock: #B69E31;
  --steel: #B7B9D0;
  --water: #6493EB;
  --text-title: #FFFFFF;
  --tetx-info: #212121;
  --g-dark: #212121;
  --g-medium: #666666;
  --g-light: #E0E0E0;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-image: url(public/bg.jpeg);
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

.main{
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: -1px 0px 32px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 0px 32px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 32px -4px rgba(0,0,0,0.75);
}

.card{
  min-width: 350px;
  padding: 1rem 1rem 0rem;
  box-shadow: 1px -124px 139px -146px rgba(0,0,0,1) inset;
  -webkit-box-shadow: 1px -124px 139px -146px rgba(0,0,0,1) inset;
  -moz-box-shadow: 1px -124px 139px -146px rgba(0,0,0,1) inset;
}

/* ========= HEAD =========  */
.title_container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--text-title);
}

.title_name{
  margin: 0;
  font-size: 1.7rem;
  text-transform: capitalize;
}

.poke_id{
  color: #e7e7e7;
}

/* ========= SPRITE =========  */
.sprite_container{
  display: flex;
  justify-content: center;
  height: 250px;
}

.sprite-bg{
  position: absolute;
  left: -50px;
  transform: rotate(50deg);
}

.sprite{
  width: 200px;
  height: 200px;
  line-height: 0;
  transform: scale(1.4) translate(0px, 15%);
  filter: drop-shadow(1px 0px 9px rgba(0, 0, 0, 0.45));
  -webkit-filter: (1px 0px 9px rgba(0, 0, 0, 0.45));
}

/* ========= INFO =========  */
.info_container{
  background-color: var(--text-title);
  color: (var(--tetx-info));
  border-radius: 12px 12px 0 0;
  padding: 1rem 1rem 4rem;
}

.type_container{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: var(--text-title);
  gap: 0.5rem;
}

.type{
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 700;
}

.type-hide{
  display: none;
}

.stats_title{
  margin: 1rem 0;
  color: var(--g-medium);
}

.stats_container{ 
  margin: 1rem 0rem;
}

.stat_item{
  display: flex;
  align-items: center;
}

.stat_name{
  padding: 0.2rem 0 ;
  width: 3rem;
  text-align: end;
  padding-right: 0.5rem;
  border-right: 2px solid var(--g-light);
  font-weight: bold;
}

.stat_value{
  width: 2.5rem;
  padding-left: 0.5rem;
}

.stat_bar{
  display: flex;
  align-items: center;
}

.progress{
  width: 210px;  
  align-self: center;
  border-radius: 20px;
  height: 6px;
}

.progress::-webkit-progress-value{
  border-radius: 10px;
  background-color: var(--g-medium);
}

.progress::-webkit-progress-bar {
  background-color: var(--g-light);
  border-radius: 20px;
}

.btn_container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-evenly;
}

.btn{
  border-style: none;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;  
}

.btn:hover{
  box-shadow: 0px 0px 9px 5px rgba(110,110,110,0.57);
  -webkit-box-shadow: 0px 0px 9px 5px rgba(110,110,110,0.57);
  -moz-box-shadow: 0px 0px 9px 5px rgba(110,110,110,0.57);
}

.btn_img{
  height: 100%;
}

.btn_shiny{
  position: absolute;
  right: 4%;
  top: 8%;
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 2.5rem;
  text-align: center;
  z-index: 100;
  border-radius: 100px;
  color: var(--g-medium);
  background: linear-gradient(61deg, rgba(255,147,15,1) 5%, rgba(255,249,91,1) 81%);
}

.btn_shiny:hover::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(117deg, #fff95b 0%, #ff930f 100% );
  transform: translate3d(0px, 0px, 0) scale(1.04);
  filter: blur(7px);
  opacity: var(1);
  transition: opacity 0.3s;
  border-radius: inherit;
}

.btn_shiny:hover::after {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  border-radius: inherit;
}        

/* Colors type */
.bug-bg{
  background-color: var(--bug);
}
.dark-bg{
  background-color: var(--dark);
}
.dragon-bg{
  background-color: var(--dragon);
}
.electric-bg{
  background-color: var(--electric);
}
.fairy-bg{
  background-color: var(--fairy);
}
.fighting-bg{
  background-color: var(--fighting);
}
.fire-bg{
  background-color: var(--fire);
}
.flying-bg{
  background-color: var(--flying);
}
.ghost-bg{
  background-color: var(--ghost);
}
.normal-bg{
  background-color: var(--normal);
}
.grass-bg{
  background-color: var(--grass);
}
.ground-bg{
  background-color: var(--ground);
}
.ice-bg{
  background-color: var(--ice);
}
.poison-bg{
  background-color: var(--poison);
}
.psychic-bg{
  background-color: var(--psychic);
}
.rock-bg{
  background-color: var(--rock);
}
.steel-bg{
  background-color: var(--steel);
}
.water-bg{
  background-color: var(--water);
}

/* Colors fonts type */
.bug-font{
  color: var(--bug);
}
.dark-font{
  color: var(--dark);
}
.dragon-font{
  color: var(--dragon);
}
.electric-font{
  color: var(--electric);
}
.fairy-font{
  color: var(--fairy);
}
.fighting-font{
  color: var(--fighting);
}
.fire-font{
  color: var(--fire);
}
.flying-font{
  background-color: var(--flying);
}
.ghost-font{
  color: var(--ghost);
}
.normal-font{
  color: var(--normal);
}
.grass-font{
  color: var(--grass);
}
.ground-font{
  color: var(--ground);
}
.ice-font{
  color: var(--ice);
}
.poison-font{
  color: var(--poison);
}
.psychic-font{
  color: var(--psychic);
}
.rock-font{
  color: var(--rock);
}
.steel-font{
  color: var(--steel);
}
.water-font{
  color: var(--water);
}
